<div *ngIf="hero">

    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div><span *ngIf='hero.ability'> why hero? {{hero.ability  | lowercase }}</span></div>
    <div>
      <label for="hero-name">Hero name: </label>
      <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
    </div>
    <div>
        <label for="hero-ability">Hero ability: </label>
        <input id="hero-ability" [(ngModel)]="hero.ability" placeholder="ability">
      </div>
  
  </div>
